---
title: ueno. Newsletter May 11, 2017
date: "*|DATE:l, F j, Y|*"
description: The very first edition of the Ueno newsletter is here
imagePath: images/newsletter-170510
footerPhrase: talking about pugs
---

{{#* inline 'style'}}
  <style>
    .store-item-1 {
      margin-bottom: 80px;
    }

    .store-item-2 {
      margin-bottom: 100px;
    }

    .height-adjust {
      height: 0;
      margin-bottom: 100px;
    }

    @media screen and (max-width: 620px) {
      .store-item-2 {
        margin-bottom: 50px !important;
      }
    }

    .body-text a,
    .body-text a:link,
    .body-text a:visited {
      color: #777b85;
			font-weight: normal;
			text-decoration: underline;
    }
  </style>
{{/inline}}

{{#> section}}
  <row class="narrow">
    <columns>
      <a href="*|ARTICLE_1|*">
        <img src="{{imagePath}}/title-1.jpg" mc:edit="article_1_title" width="420" alt="This is exciting. The very first edition of the Ueno newsletter is here." class="image image--title" />
      </a>
    </columns>
  </row>

  <row class="collapse">
    <columns>
      <a href="*|ARTICLE_1|*">
        <img src="images/placeholder-1160.jpg" mc:edit="article_1_image" class="image image--upper" width="580" alt="Hand inside mailbox holding out letter" />
      </a>
    </columns>
  </row>

  <row class="narrow">
    <columns>
      <div class="body-text" mc:edit="article_1_text">
        <p>You know the drill. It’s a <a href="example.com">newsletter</a>, with news, about Ueno. If you don’t unsubscribe you can expect to get this in your inbox every two weeks. That’s it really.</p>
        <p>It will be full of good words, pictures and occasional references to pugs, all surrounded by lovely white space. You will like it. Probably. Maybe.</p>
      </div>
      {{#> link href='*|ARTICLE_1|*'}}
        <span mc:edit="article_1_linktext">Read more about the Ueno newsletter</span>
      {{/link}}
      <p class="height-adjust">&nbsp;</p>

      {{> divider }}

      <a href="*|ARTICLE_2|*">
        <img src="{{imagePath}}/title-2.jpg" mc:edit="article_2_title" class="image image--title" width="420" alt="La, la, lueno. Ueno LA opens." />
      </a>
      <div class="body-text" mc:edit="article_2_body">
        <p>We are opening up our doors in Los Angeles this month and announcing our first hire. Find out more in our brand new Medium post.</p>
      </div>
      {{#> link href='*|ARTICLE_2|*'}}
        <span mc:edit="article_2_linktext">Read more about Ueno LA</span>
      {{/link}}
    </columns>
  </row>

  <row>
    <columns>
      <a href="*|ARTICLE_2|*">
        <img class="image image--lower" mc:edit="article_2_image" src="images/placeholder-1000.jpg" width="500" alt="Ueno's Los Angeles office" />
      </a>
    </columns>
  </row>

  <row class="narrow">
    <columns>
      {{> divider safeguard='true' }}
      <a href="*|ARTICLE_3|*">
        <img src="{{imagePath}}/title-3.jpg" mc:edit="article_3_title" width="420" alt="The dynamic duo. Jenny and Robbin at Awwwards." class="image image--title" />
      </a>
      <div class="body-text" mc:edit="article_3_text">
        <p>Ok, listen up. Jenny and Robbin will be saying clever things at the Awwwards Conference in Los Angeles on June 2, so there’s that.</p>
      </div>
      {{#> link href='*|ARTICLE_3|*'}}
        <span mc:edit="article_3_linktext">Awwwards Conference</span>
      {{/link}}
    </columns>
  </row>

  <row>
    <columns>
      <a href="*|ARTICLE_3|*">
        <img class="image image--lower" mc:edit="article_3_image" src="images/placeholder-1000.jpg" width="500" alt="Jenny and Robbin standing side by side" />
      </a>
    </columns>
  </row>
{{/section}}

{{#> section}}
  <row class="narrow">
    <columns>
      <img class="dear-ueno__logo" src="images/dear-ueno.jpg" width="420" alt="Dear Ueno. Our advice column.">
      <div class="body-text dear-ueno__question-title" mc:edit="dearueno_question_title">
        <p>Martijn, a designer from Amsterdam asks:</p>
      </div>
      <div class="body-text body-text--dark dear-ueno__question-body" mc:edit="dearueno_question_body">
        <p>"I thought it would be a good idea to contact some of the best creative agencies and ask for some advice on the do's and dont's of an online portfolio. I would greatly appreciate if you could maybe give me some tips on this matter? Thanks in advance."</p>
      </div>
    </columns>
  </row>
  {{> divider color='e8e8e8' }}
  <row class="narrow">
    <columns>
      <div class="media">
        <div class="media__section">
          <img class="dear-ueno__avatar" alt="Justin Greene" src="images/placeholder-136.jpg" mc:edit="dearueno_answer_avatar">
        </div>
        <div class="media__section">
          <p class="dear-ueno__person" mc:edit="dearueno_answer_person">Justin Greene</p>
          <p class="dear-ueno__title" mc:edit="dearueno_answer_title">Ueno Designer in LA answers:</p>
        </div>
      </div>
    </columns>
  </row>
  <row class="narrow">
    <columns>
      <div class="body-text dear-ueno__answer" mc:edit="dearueno_answer_body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tempor enim. Vivamus tellus eros, scelerisque non eros quis, ornare commodo metus.</p>
        <p>Praesent quis ultricies orci. Cras volutpat venenatis dui, eget mattis elit tristique vitae. Pellentesque vel erat vel ligula faucibus euismod ut non metus. Cras facilisis laoreet libero pretium tempus. Aenean eget egestas tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivam...</p>
      </div>
      {{#> link href='*|DEAR_UENO|*' }}Read the full reply{{/link}}
    </columns>
  </row>
  {{> divider color='e8e8e8' }}
  <row class="narrow">
    <columns>
      <p class="dear-ueno__footer">Got a question you want us to answer?<br><a href="https://medium.com/ueno/dear-ueno-b6946471b26a">Learn more about Dear Ueno and how to submit questions</a></p>
    </columns>
  </row>
{{/section}}

{{#> section}}
  {{> header-store}}

  <row class="collapse">
    <columns>
      <a href="*|STORE_1|*">
        <img src="images/placeholder-1160.jpg" mc:edit="store_1_image" class="image" width="580" alt="Hand holding playing cards" />
      </a>
    </columns>
  </row>

  <row class="narrow store-item-1">
    <columns>
      <p class="title"><a href="*|STORE_1|*">
        <span mc:edit="store_1_name">MINIM Playing Cards &mdash; $10</span>
      </a></p>
      <p class="subtitle"><a href="*|STORE_1|*">
        <span mc:edit="store_1_seller">Areaware</span>
      </a></p>
    </columns>
  </row>

  <row class="collapse">
    <columns>
      <a href="*|STORE_2|*">
        <img src="images/placeholder-1160.jpg" mc:edit="store_2_image" class="image" width="580" alt="Feet wearing cat-themed socks with stripes" />
      </a>
    </columns>
  </row>

  <row class="narrow store-item-2">
    <columns>
      <p class="title"><a href="*|STORE_2|*">
        <span mc:edit="store_2_name">Cat Socks &mdash; $8.99</span>
      </a></p>
      <p class="subtitle"><a href="*|STORE_2|*">
        <span mc:edit="store_2_seller">CoCozy</span>
      </a></p>
    </columns>
  </row>
{{/section}}

{{#> section}}
  {{> header-design}}

  {{#*inline 'gallery-item'}}
    <a class="design-gallery__item" href="*|DESIGN_{{n}}|*">
      <img src="images/placeholder-460.jpg" mc:edit="design_{{n}}_image" class="design-gallery__item__image" width="230" />
      <span class="title" mc:edit="design_{{n}}_category">Gadgets</span>
      <span class="subtitle" mc:edit="design_{{n}}_postedby">Posted by Haraldur</span>
    </a>
  {{/inline}}

  <row class="design-gallery">
    <columns small="6">
      {{> gallery-item n=1}}
      {{> gallery-item n=2}}
      {{> gallery-item n=3}}
    </columns>
    <columns small="6">
      {{> gallery-item n=4}}
      {{> gallery-item n=5}}
      {{> gallery-item n=6}}
    </columns>
  </row>
{{/section}}
